.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.linksNavbarCenter > ul,
.navMenu > ul > li > a {
    list-style: none;
    display: flex;
}
.linksNavbarCenter > ul > li > a,
.navMenu > ul > li > a{
    margin: 0 20px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    color: #C98E59;
}
.navMenu > ul > li > a{
    margin: 10px 0;
}
.navMenu > ul{
    margin-top: 50px;
    list-style: none;
}
.navMenu {
    position: fixed;
    right: -200%;
    top: 0;
    background-color: white;
    width: 360px;
    height: 786px;
    transition: .3s;
    border-bottom-left-radius: 43px;
    border-top-left-radius: 43px;
    padding: 100px 0px 0pc 30px;
}

.navMenu.active {
    right: 0;
    width: 360px;
    height: 786px;
    overflow: hidden;
    padding: 100px 0px 0pc 30px;
}
.active {
    color: #74471F;
}
.loginContainer,
.loginContainerInside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer > button,
.loginContainerInside > button{
    color: #C98E59;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: color .3s;
}
.loginContainer > h1,
.loginContainerInside > h1{
    color: #C98E59;
}
.loginContainer > button:hover,
.loginContainerInside > button:hover{
    color: #74471F;
}
.loginContainerInside{
    justify-content: flex-start !important;
    margin: 0 !important;
}
.loginContainerInside > button{
    margin: 0px;
}
.loginContainerInside > span{
    width: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 1001;
}
.applyHamburger{
    width: 35px;
    display: none;
}
.bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #74471F;
    border-radius: 30px;
}
.bar.active {
    background-color: #74471F;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
}



@media (max-width:1400px){
    .hamburger{
        display: block;
    }
    .applyHamburger{
        display: block;
    }
    .loginContainer,
    .linksNavbarCenter{
        display: none;
    }
}
@media (min-width:1400px){
    .navMenu{
        display: none;
    }
}