.globalStyles {
    background: linear-gradient(180deg, #839096 -44.45%, #2A2E30 25.55%);
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .globalStyles {
      padding: 0;
    }
  }