/* Dashboard Section */
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(90.54deg, #74471f 1.65%, #c98e59 100%);
  padding: 20px 30px;
  color: #fff;
  border-radius: 5px;
  justify-content: space-between;
  width: 100%;
}

/* Flex items in dashboard */
.dashboardDesc {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboardDesc h2 {
  font-size: 23px;
}

.dashboard p {
  font-family: 'DM Sans', sans-serif;
  font-size: 13.88px;
  font-weight: normal;
}

.notification {
  position: relative;
  display: inline-block;
}

.notificationCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #e74c3c;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Total section */
.total {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

/* Each total item */
.totalDesc {
  flex: 1 1 calc(33.333% - 20px);
  min-height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.totalDesc h2 {
  font-size: 20px;
}

.totalDesc h3 {
  font-size: 22px;
  color: #3498db;
  font-weight: bolder;
}

/* Trends section */
.trends {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Chart container */
.chartContainer {
  width: 98%;
  height: 300px;
  position: relative;
}

/* Recent activities section */
.recentActivities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

/* Activities table */
.activitiesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.activitiesTable th,
.activitiesTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.activitiesTable th {
  background-color: #f2f2f2;
  color: #333;
}

.activitiesTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.activitiesTable tr:hover {
  background-color: #ddd;
}

/* Activities List Image */
.activitiesList img {
  vertical-align: middle;
  margin-right: 10px;
  object-fit: contain;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  object-fit: contain;
}

/* For tablets (min-width: 768px) and desktops */
@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    align-items: flex-start;
  }

  .notificationCount {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #e74c3c;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .total {
    flex-direction: row;
    gap: 20px;
  }

  .totalDesc {
    flex: 1 1 calc(33.333% - 20px);
  }

  .trends,
  .recentActivities {
    padding-top: 20px;
  }

  .chartContainer {
    height: 300px;
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  .adminwrapper {
    display: none;
  }

  .chartContainer {
    display: none;
  }
}
