.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(90.54deg, #74471f 1.65%, #c98e59 100%);
  padding: 1.25rem 1.875rem;
  color: #fff;
  border-radius: 0.3125rem;
  justify-content: space-between;
  width: 100%;
}

.bigContainer {
  max-width: 65.5rem;
  width: 100%;
  height: auto;
  gap: 0;
  border-radius: 0.9375rem;
  background: #323639;
  box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.25);
  margin: 3rem auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.switchContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.switchText {
  margin-right: 0.5rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.0625rem;
  text-align: left;
}

.formContainer {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding: 1rem;
  padding-top: 0;
}

.formContainer :global(.ant-form-item-label > label),
.formContainer :global(.ant-input),
.formContainer :global(.ant-select-selector),
.formContainer :global(.ant-input::placeholder),
.formContainer :global(.ant-select-selector::placeholder),
.formContainer :global(.ant-input-textarea),
.formContainer :global(.ant-btn),
.formContainer :global(.ant-select-selection-item) {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.96125rem;
  font-weight: 700;
  line-height: 1.17125rem;
  text-align: left;
  color: #FFFFFF !important;
  background: transparent !important;
}

.formContainer :global(.ant-form-item-label > label) {
  color: #FFFFFF !important;
  padding: 0.3125rem 0;
  border-radius: 0.3125rem;
  display: inline-block;
  font-weight: 600 !important;
}

.formContainer :global(.ant-input),
.formContainer :global(.ant-select-selector) {
  background-color: #3F4548 !important;
  color: #FFFFFF !important;
  border: 0.003125rem solid #757575 !important;
}

.formContainer :global(.ant-input::placeholder),
.formContainer :global(.ant-select-selector::placeholder) {
  color: #FFFFFF !important;
  font-weight: 100;
}

.formContainer :global(.ant-input-textarea) {
  background-color: #3F4548 !important;
  color: #FFFFFF !important;
}

.formContainer :global(.ant-select-selection-item) {
  color: #FFFFFF !important;
}

.formContainer :global(.ant-select-dropdown .ant-select-item-option-content) {
  color: #FFFFFF !important;
}

.customDropdown {
  background-color: #3F4548 !important;
  color: #fff !important;
}

.customDropdown :global(.ant-select-item-option-content) {
  color: #FFFFFF !important;
}

.formContainer :global(.ant-btn) {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.96125rem;
  font-weight: 700;
  line-height: 1.17125rem;
  text-align: left;
  color: #fff !important;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancelButton {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  line-height: 1.143125rem !important;
  background: #bfbfbf !important;
  color: #74471F !important;
  border: none !important;
  border-radius: 0.3125rem !important;
  cursor: pointer !important;
  width: 7.36625rem !important;
  height: 2.375rem !important;
  opacity: 1 !important;
}

.updateUserButton {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.9375rem !important;
  font-weight: 400 !important;
  line-height: 1.143125rem !important;
  text-align: center !important;
  background: linear-gradient(230.7deg, #C98E59 20.6%, #734124 82.34%) !important;
  color: #FFFFFF !important;
  border: none !important;
  border-radius: 0.3125rem !important;
  cursor: pointer !important;
  width: 11rem !important;
  height: 2.375rem !important;
  opacity: 1 !important;
}

.updateUserButton:hover {
  background: linear-gradient(230.7deg, #734124 20.6%, #C98E59 82.34%) !important;
}

.formContainer :global(.ant-select-arrow) {
  color: #FFFFFF !important;
}
