.history-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
    &-header-container {
        margin-bottom: 20px;
    }
    &-header {
        font-size: 24px;
        font-weight: bold;
    }
    .pagination-dots{
        position: absolute;
        bottom: 30px;
        gap: 10px;
        .dot{
            width: 26px;
            height: 26px;
            cursor: pointer;
            background-color: #fff;
            border-radius: 50%;
            &.active{
                background: linear-gradient(90deg, #C98E59 0%, #734124 100%);
            }
        }
    }
}

.history-container-header-container{
    width: 100%;
    text-align: start;
    .history-container-header{
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        letter-spacing: 6%;
        color: #fff;
    }
}

.historyheader-textbox {
    background: linear-gradient(90deg, #555859 0%, #2a2e30 100%);
    padding: 100px 60px;
    border-radius: 20px;
    width: 100%;
    margin: 0 !important;
    border: 1px solid #fff;
    &-p {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        margin: 0;
        line-height: 1.6;
    }
}

.history-pagination {
    margin-top: 20px;
}