* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.realestate-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    color: rgba(143, 177, 191, 1);
    text-align: center;
}

.realestate {
    background: transparent;
    max-width: 75em;
    width: 100%;
}

.realestate-title {
    font-family: 'Montserrat', sans-serif !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
    text-wrap-style:balance;
    text-align: center;
    font-size: 3.75em; 
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 29px 18px 29px 18px;
    gap: 10px;
    border-radius: 151px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    
    background: linear-gradient(135.72deg, rgba(255, 255, 255, 0.27) 8.53%, rgba(255, 255, 255, 0) 60.59%, rgba(255, 255, 255, 0.33) 93.17%);



}

.realestate-body {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 2.5em;
    text-align:justify;
    font-size: 20px; 
    font-weight: 300;
    line-height: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.realestate-services {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2vw;
    
}

.realestate-item {
    text-align: start;
    font-family: "DM Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0.625em;
    padding: 0.625em 0.625em;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 29px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-wrap: nowrap;
}

.realestate-item::before {
    content: url('../../../../../public/Service/Checkmark.svg');    font-size: 1em; /* Adjust the size of the checkmark */
    color: #030303; /* Colour of the checkmark */
}



@media screen and (max-width: 1200px) {
    .realestate-services {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .realestate-container{
      margin-left: 0%;
      margin-right: 0%;
      justify-content: center;
      text-align: center;
    }
    .realestate-title {
      font-size: 6vw;
      font-weight: 400;
      line-height: 10vw;
      letter-spacing: 2.4px;
      text-align: center;
    }
    .realestate-item {
        text-wrap:wrap;
        text-align: start;
        border-radius: 0.625em;
        padding: 0.625em 0.625em;
        font-size: 3vw;
        font-weight: 400;
        color: #000000;
        line-height: 29px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
  }