h1 {
    font-family: "Montserrat",
        sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: var(--sec-Color, rgba(244, 244, 244, 1));
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    letter-spacing: 0.004em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}




.userName-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba(201, 142, 89, 1);
    }


}

.column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;



    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.status-active {
    color: rgba(31, 215, 60, 1);
}

.status-inactive {
    color: rgba(255, 255, 255, 0.5);
}

.user-popover-conent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        width: 100%;

        &:hover {
            background: rgb(139, 140, 142);
            cursor: pointer;
        }
    }

    p {
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        letter-spacing: 0.004em;
        text-align: left;
        color: rgba(255, 255, 255, 1)
    }


}

.user-dott {
    cursor: pointer;
    color: rgba(109, 109, 109, 1);

    &:hover {
        color: rgba(201, 142, 89, 1);
    }
}

:where(.css-dev-only-do-not-override-1p7kxr2).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-1p7kxr2).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}