.wrapper-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-assist-footer{
  width: 1400px;
  padding: 50px 0px;
}

.footer-main-container {
  width: 100%;
  height: auto;
  background-color: var(--footer-primary);
  z-index: 999999;
  .footer-menu {
    width: 100%;
    .footer-menu-container {
      width: 25%;
      .footer-menu-header {
        color: #fff;
      }

      .footer-menu-link {
        color: #fff;
        font-weight: 200;
      }
    }
  }

  .footer-logo-container {
    width: 100%;
    padding: 40px 0;

    .footer-logos {
      width: 100%;
      border: 1px solid #B27B49;
      border-radius: 15px;
      position: relative;
      padding: 4%;
    }

    img:hover {
      transition: transform ease-in-out 0.1s;
      transform: scale(1.1);
    }

    .main-logo {
      position: absolute;
      z-index: 9;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        background-color: #2A2E30;
      }
    }
    .smaller-logo {
      z-index: 15;
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  .footer-middle {
    width: 100%;
    .footer-newsletter-container {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 30px;
      color: #fff;
      width: 70%;
      border-radius: 25px;
      text-align: center;
      .input-container{
        display: flex;
        width: 100%;
        input{
          width: 100%;
          border: 1px solid #E7E8F2;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          padding: 5px;
        }
        input:focus{
          outline: none;
        }
        .button-subscribe{
          background-color: #BF8654;
          border: none;
          border-radius: 0px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        .icon{
          color: #fff;
        }
      }
      p{
        font-style: italic;
      }
    }
  }
  .footer-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer-footer-terms {
      .terms-element {
        color: #fff;
      }
    }
    .footer-footer-logo{
      display: flex;
      justify-content: start;
    }
    .footer-footer-social {
      display: flex;
      justify-content: end;
      gap: 2vw;
    }
  }
}
.footer-bottom{
  width: 33.33% !important;
}
@media (max-width: 1000px) {
  .footer-logos {
    flex-direction: row;
    flex-wrap: wrap;
    // flex: 3 0 25%;
  }
  .footer-middle {
    flex-wrap: wrap;
    gap: 2vh;
    .footer-menu {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      .footer-menu-container {
        width: 33%;
        .footer-menu-header {
          color: #fff;
        }
        .footer-menu-link {
          color: #fff;
          font-weight: 200;
        }
      }
    }
  }
  .footer-footer {
    width: 100%;
    flex-direction: column;
    gap: 3vh;
    flex-wrap: wrap;
    .footer-footer-logo {
      width: 100% !important;
      display: flex;
      justify-content: center !important;
      align-items: center;
    }
    .footer-footer-terms {
      width: 70%;
      justify-content: center;
      align-items: center;
      gap: 3vh;
      .terms-element {
        color: #fff;
      }
    }

    .footer-footer-social {
      width: 100%;
      display: flex;
      justify-content: center !important;
      gap: 3vh;
      align-items: center;
    }
  }

  .subscribe-popup-main {
    display: none;
  }
}
@media (max-width: 1000px) {
  .footer-middle {
    flex-direction: column;
    gap: 10vh;
  }
}


@media (max-width: 900px) {
  .footer-logos {
    flex-direction: column;
  }
}


@media (max-width: 700px) {
  .main-logo {
    width: 60%;
    img {
      width: 100%;
    }
  }
  .footer-menu-container{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .footer-subscribe{
    width: 100%;
    .footer-newsletter-container{
      width: 100% !important;
    }
  }

}

@media (max-width:1400px) {
  .wrapper-assist-footer{
    width: 100%;
    padding: 50px 20px !important;
  }
}