.about-image-header-container{
    position: relative;
    z-index: 10;

    img {
        z-index: 9999;
        width:40%;
    }

    .about_image_comtainer{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 60rem;
        gap: 5rem;

        .about_main_header {
            font-family: 'Catchye Demo', sans-serif !important;
            text-align: center;
            color: #fff;
            font-size: 128px;
            font-weight: 400;
            letter-spacing: 2.4px;
            text-align: center;
            text-transform: uppercase;
        }

        .about_main_paragraph {
            font-family: 'Montserrat', sans-serif ;
            text-align: center;
            color: #fff;
            font-size: 24px;
            font-weight: 300;
        }
    }
}