.wrapper-navbar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 100000;
  .wrapper-assist-navbar{
    width: 1400px;
    display: flex;
    justify-content: space-between;
  }
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.links-navbar-center {
  ul {
    list-style: none;
    display: flex;

    li {
      a {
        margin: 0 20px;
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
      }
      &:hover{
        transform: scale(1.07);
      }
      &.active {
        a {
          color: #bbbbbb;
        }
      }
    }
  }
}

.nav-menu {
  position: fixed;
  right: -200%;
  top: 0;
  background-color: #2a2e3094;
  backdrop-filter: blur(10px);
  width: 360px;
  height: 786px;
  transition: 0.3s;
  border-bottom-left-radius: 43px;
  border-top-left-radius: 43px;
  padding: 100px 0 0 30px;
  z-index: 9999;

  ul {
    margin-top: 50px;
    list-style: none;
    li {
      margin: 10px 0;
      a {
        margin: 10px 0;
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
        font-weight: 500;
      }

      &.active {
        a {
          color: #bbbbbb;
        }
      }

      &:hover {
        a {
          color: #bbbbbb;
        }
      }
    }
  }

  &.active {
    right: 0;
    overflow: hidden;

    ul {
      li {
        a {
          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.active {
  color: #74471f;
}

.login-container,
.login-container-inside {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  button {  
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 500;
    padding: 0;

    &:hover {
      color: #bbbbbb !important;
    }
  }

  h1 {
    color: #fff;
  }
}


.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1001 !important;

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}

.apply-hamburger {
  width: 35px;
  display: none;
  z-index: 10000 !important;
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 30px;

  &.active {
    background-color: #fff;
  }
}

@media (max-width: 1400px) {
  .wrapper-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wrapper-assist-navbar {
    width: 100% !important;
    padding: 0 20px;
  }
  .hamburger {
    display: block;
  }

  .apply-hamburger {
    display: block;
  }

  .login-container,
  .links-navbar-center {
    display: none;
  }
}
@media (min-width: 1400px) {
  .nav-menu {
    display: none;
  }
}