.popUpWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999999; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.popUpWindowInner {
    background: #FFFFFF;
    border: 35px solid #000000;
    position: relative;
    width: 60vw; 
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.leftContainer {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .popUpWindowVideo {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Change to cover, fill, or none based on desired behavior */
  }
  

.rightContainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: relative; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
}



.exitButton {
    font-size: 1.12em;
    font-weight: 100;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #C98E59;
    position: absolute; 
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 15px;
}

.exitButton:hover {
    color: #74471F;
}

.firstSection {
    padding-top: 2.5rem;
}

.firstSection h1 {
    font-family: 'Catchye Demo', sans-serif !important;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.25em;
    font-size: 1.5em;
    font-weight: 400;
}

.firstSection p {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    color: #000000;
    font-size: 0.80em;
    letter-spacing: 0.05em;
    padding: 0 6.25% 3.125% 6.25%; 
}

.secondSection {
    margin: 2.125% 4.25% 3.125% 4.25%; 
    position: relative;
    justify-content: center;
    height: 100%;
}

.inputWindow {
    margin: 2.2% 0 2.2% 0; 
    width: 22rem;
    height: 5vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 0.65rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1.5%; 
    font-family: Montserrat, sans-serif;
}

.submit-button {
    width: 10rem;
    height: 6vh;
    border: 1px solid #74471F;
    border-radius: 0.94rem;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 0.70em;
    color: #74471F;
    font-family: "DM Sans", sans-serif !important;
    letter-spacing: 1.4px;
    line-height: 23.32px;
    font-weight: 700;
}

@media (max-width: 850px)  {
    .popUpWindow {
        display: none;
    }
}
