.wrapper-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    position: relative;
    background-color: #2A2E30;
}
.wrapper-assist-about{
    width: 1400px;
    padding: 50px 0;
    flex-direction: column !important;
}

@media screen and (max-width: 1400px){
    .wrapper-assist-about{
        width: 100%;
        padding: 50px 20px;
    }
}
@media (min-width: 1000px) {
    .bg_image{
        object-position: top;
    }
}