.formsection-container {
    min-height: 100vh;
    width: 100%;
    background: #F2F2F2;
    padding: 12vh 0;


    .ant-form-item-row label{
        color: #DDA07D;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .formsection-header-container {
        width: 100%;
        flex-direction: column;
        padding-left: 15vh;
        align-items: start;
        text-align: left;
        p {
            font-size: 1.6vh;
            font-weight: 300;
            line-height: 24px;
            color: #828282;
            width: 35%;            
        }

        h2 {
            font-size: 4.5vh;
            font-weight: 700;
            line-height: 39.01px;
            letter-spacing: -0.02em;
            color: #C98E59;
            margin-bottom: 3vh;
        }
    }
    .formsection-form-image-container {
        width: 100%;
        padding-top: 3vh;

        .formsection-form-container {
            width: 30%;
            
            input, button, textarea {
                box-sizing: border-box;
                width: 100%;
                padding: 12px;
                border: 1px solid #E0E0E0;
                border-radius: 10px;
                color: #000;
                font-size: 1.6vh;

                &::placeholder {
                    color: #828282;
                }
            }

            textarea {
                min-height: 15vh;
                max-height: 25vh;
            }

            button {
                background: #C98E59;
                font-weight: 500;
                line-height: 24px;
                color: white;

            }
        }

        .formsection-image-container {
            width: 45%;

            img {
                width: 60%;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
                -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
                box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
                border-radius: 70px;
            }
        }
    }
}


@media (max-width: 1350px) {

    .formsection-header-container {
        padding-left: 5vh !important;
        p {
            font-size: 2vh !important;
            width: 45% !important;            
        }
        
        h2 {
            font-size: 5.5vh !important;
        }
    }

    .formsection-form-container {
        width: 55% !important;
        
    }
    
    .formsection-image-container {
        width: 35% !important;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .formsection-header-container {
        padding: 5vh !important;
        p {
            text-align: center !important;
            font-size: 2vh !important;
            width: 100% !important;            
        }

        h2 {
            text-align: center !important;
            font-size: 5.5vh !important;
            width: 100%;
        }
    }

    .formsection-form-container {
        width: 70% !important;
    }

    .formsection-image-container {
        display: none !important;
    }
}    