.forgotPassword-container{
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .first-half{
      display: flex;
      flex-direction: column;
      gap: 40px ;
      .title{
          color: #FFF;
          font-family: "Catchye Demo";
          font-size: 96px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -1.92px;
          text-transform: uppercase;
      }
      p{
        color: var(--WHITE, #FFF);
        font-family: "Montserrat";
        font-size: 12.906px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
  }
  .second-half{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      .forgotPasswordImage{
          width: 100%;
          height: 675px;
          object-fit: cover;
          border-radius: 71px;
      }
  }
}
.both-halfs{
  width: 50%;
}

@media (max-width: 900px){
  .forgotPassword-container{
      .first-half{
          width: 100%;
          .title{
              font-size: 48px;
              letter-spacing: -0.96px;
          }
          P{
              font-size: 16px;
              line-height: 30px;
          }
      }
      .second-half{
          display: none !important;
      }
  }
}