.button-span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background-color: #BF8654;
        width: 270px;
        height: 56px;
        border: 1px solid #F2F2F2;

        &:hover {
            background-color: #F2F2F2 !important;
            color: #F2F2F2 !important;
        }



    }



}

@media (max-width: 768px) {
    .apply-button {
        border: 1px solid var(--ANTI-FLASH-WHITE, #F2F2F2);
        background: var(--DEER, #BF8654);
        width: 50% !important;

    }
}