* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.management-container {
    background-image: url(./management.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.management {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
   
}

.management-title {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 20px;
    text-wrap-mode:wrap;
}

.management-content {
    all: revert;
    background-size: cover;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    background-size: cover;
}
p {
    all:revert;
}
.management-body {
    all: revert;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px; /* Consolidating font size */
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #333;
    padding: 30px 30%; /* This will maintain 50px padding on both sides */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.management-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.management-services {
    font-family: "DM Sans";
    margin-right: auto;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 20px;
    align-items: left;
}

.management-item {
    font-family: "DM Sans";
    text-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.management-item::before {
    content: '✔️'; /* Adds checkmark before the text */
    font-size: 1em; /* Adjust the size of the checkmark */
    color: #030303; /* Colour of the checkmark */
    align-self: center; /* Centers the checkmark vertically */
}

@media screen and (max-width: 768px) {
    .management {
        padding: 20px;
    }

    .management-title {
        font-size: 32px;
    }

    .management-body {
        font-size: 16px;
    }

    .management-item {
        font-size: 14px;
        padding: 10px 15px;
    }

    .management-content {
        flex-direction: column;
    }

    .management-image {
        margin-top: 20px;
    }
}
