* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.realestate-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    color: #8FB1BF;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                url('realestate.jpeg') no-repeat center center;
    background-size: cover;
}

.realestate {
    background: transparent;
    width: 1000px;
    border-radius: 8px;
}

.realestate-title {
    background: transparent;
    color: rgba(166, 104, 68, 1);
    font-size: 60px; 
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.realestate-body {
    border-radius: 15px;
    padding: 20px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
   
    text-align: center;
    color: rgba(66, 62, 62, 1);
    margin-bottom: 40px;
    border: 3px solid white;
    border-image-source: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(255, 255, 255, 0) 0%, #8FB1BF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(114.55deg, #FFFFFF 2.13%, rgba(255, 255, 255, 0) 98.14%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.realestate-services {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
    justify-content: center;
}

.realestate-item { 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: 400;
    color: #333;
    line-height: 29px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-wrap: nowrap;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; /* Adjusts spacing between checkmark and text */
    align-items: center; /* Aligns content vertically */
}

@media screen and (max-width: 768px) {
    .realestate-container {
        padding: 30px 10px;
    }

    .realestate {
        width: 100%;
    }

    .realestate-title {
        font-size: 32px;
    }

    .realestate-body {
        font-size: 16px;
    }

    .realestate-item {
        font-size: 16px;
        padding: 10px 15px;
    }
}
