.wrapper-services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.wrapper-assist-services{
    width: 1400px;
    padding: 50px 0;
    z-index: 2;
}
@media screen and (max-width: 1400px){
    .wrapper-assist-services{
        width: 100%;
        padding: 50px 20px;
    }
}