.totalsWraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .total {
        width: 251px;
        height: 120px;
        border-radius: 20px;
        background: var(--DARK-GREEN, rgba(42, 46, 48, 1));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


        .totalsTitle {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.94px;
            text-align: left;
            color: var(--ANTI-FLASH-WHITE, rgba(242, 242, 242, 1));
        }
    }

    .valueWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .value {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 29.26px;
            text-align: left;
            color: var(--ANTI-FLASH-WHITE, rgba(242, 242, 242, 1));
        }

        .up {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--stroke, rgba(5, 141, 105, 0.99));
            border-radius: 20px;
            width: 80px;
            height: 36px;
            padding: 8px 10px 8px 10px;
            gap: 2px;
            background: rgba(5, 255, 0, 0.18);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: rgba(31, 215, 60, 1);
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.5px;
            text-align: left;
        }

        .down {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            width: 80px;
            height: 36px;
            padding: 8px 10px 8px 10px;
            gap: 2px;
            border: 1px solid rgba(141, 5, 5, 0.99);
            background: rgba(255, 0, 0, 0.13);
            font-family: 'Montserrat', sans-serif;
            color: rgba(235, 6, 6, 1);
            font-size: 16px;
            font-weight: 600;
            line-height: 19.5px;
            text-align: left;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
}