.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;

  .profile-container {
    display: flex;
    align-items: center;

    .image-wrapper {
      position: relative;
      display: inline-block;
      background: linear-gradient(230.7deg, #c98e59 20.6%, #734124 82.34%);
      padding: 3px;
      border-radius: 50%;
      .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      .edit-icon {
        position: absolute;
        bottom: -5px;
        right: 10px;
        background: linear-gradient(230.7deg, #c98e59 20.6%, #734124 82.34%);
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
          transform 0.3s ease,
          filter 0.3s ease;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.2);
        }
      }

      input[type='file'] {
        display: none;
      }
    }

    .profile-details {
      padding-left: 20px;
      h2 {
        font-size: 1.8rem;
        margin: 0;
        color: #fff;
      }

      .user-info {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          align-items: center;
          margin-top: 5px;

          &:last-child {
            color: #f0f0f0;
          }

          .icon {
            margin-right: 5px;
            font-size: 1.2rem;
            color: #c98e59;
          }
        }
      }
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    .stat-item {
      text-align: center;
      margin-right: 40px;

      span:first-child {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
      }

      span:last-child {
        font-size: 1rem;
        color: #bbb;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .actionsFlex {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }

    span {
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      line-height: 1;
    }

    .icon {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      vertical-align: middle;
    }

    .file-input {
      background-color: transparent;
      border: 1px solid #ccc;
      padding: 10px;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 10px;
    }

    .delete-button {
      background-color: #ff6347;
      border: none;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e55342;
      }
    }
  }

  // Responsive handling for different screen sizes
  @media (max-width: 1024px) {
    .header {
      flex-direction: column;
      text-align: center;

      .profile-container {
        flex-direction: column;

        .profile-pic {
          margin-bottom: 10px;
        }

        .profile-details {
          h2 {
            font-size: 1.5rem;
          }

          .user-info {
            span {
              font-size: 1rem;
            }
          }
        }
      }

      .stats {
        margin-top: 20px;
      }

      .actions {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;

      .profile-container {
        flex-direction: column;
        text-align: center;

        .profile-details h2 {
          font-size: 1.2rem;
        }
      }

      .stats {
        flex-direction: column;
        margin-top: 10px;
      }

      .actions {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
      }
    }
  }
}
