.auth-modal {


    .ant-modal-content {
        box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        background: var(--DARK-GREEN, rgba(42, 46, 48, 1));


    }

    // .ant-modal-header {
    //     background: linear-gradient(180deg, #839096 -101.48%, #2A2E30 47.66%);

    // }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;



    }






    .ant-modal-close-x {
        color: #F2F2F2;
    }

    color: #F2F2F2;


}

.div-background {

    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #839096 0%, #2A2E30 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));


}


@media (max-width: 768px) {

    .ant-modal-body {

        padding: 0px !important;
        padding-bottom: 20px !important;

    }
}