.followsection-container {
    text-align: center;
    padding: 10vh 10vw;
    background: #F8F6F4;
    min-height: 40vh;
    .followsection-header {
        font-size: 28px;
        font-weight: 500;
        line-height: 55.9px;
        letter-spacing: 0.06em;
        color: #9B6240;

    }

    .followsection-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
        
    }
    .followsection-divider {
        content: "";
        width: 30%;
        height: 2px;
        background: #C98E59;
        margin: 5vh auto;
    }

    .followsection-icons-container {
        gap: 10vw;
        // img {}
    }
}

