.imageContainer {
    display: flex;
    justify-content: flex-end;
  
    .forgotPasswordImage {
      object-fit: cover;
      width: 40rem;
      height: 40rem;
      border-radius: 4.44rem;
    }
  }
  