.jobs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;

  .jobs-list-header {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .view-all-button {
            background: transparent;
            color: #BF8654;
            padding: 1.25rem;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.875rem;
            font-weight: 600;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              color: #E2791B;
            }
          }

    .jobs-list-title {
      background: transparent;
      color: #fff;
      padding: 1.25rem;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .jobs-list-container {
    background: #323638;
    width: 100%;
    min-height: 20rem;
    border-radius: 0.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #545353;
  //   overflow: hidden;

    .jobs-table-container {
      width: 100%;
      overflow: visible;
      margin-bottom: 60px;

      .jobs-table {
        width: 100%;
        border-collapse: collapse;

        th {
          background: transparent;
          color: #fff;
          padding: 1.25rem;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem; 
          font-weight: 600;
        }

        th:first-child,
        td:first-child {
          text-align: left;
        }

      
  .status.active {
      color: #05ff00;
    }
  
    .status.inactive {
      color: #F4F4F4; 
    }
  
    .status.pending {
      color: #C98E59; 
    }
  
    .status.available {
      color: #1fd73e;
    }
  
    .status.in-progress {
      color: #f39c12; 
    }

        td {
          padding: 0.625rem 1.25rem;
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem;
          color: #fff;
          font-weight: 400;
          line-height: 1.25rem;
          letter-spacing: 0.009375rem;
          text-align: center;
          position: relative;

          .job-info {
            display: flex;
            align-items: center;

            .fa-map-marker-alt {
              color: rgba(255, 255, 255, 0.5);
              margin-right: 0.5rem;
              margin-top:5px;
            }

            .job-details {
              display: flex;
              flex-direction: column;

              .job-title {
                font-weight: 600;
              }

              .job-location {
                font-size: 0.85rem; 
                color: rgba(255, 255, 255, 0.5); 
              }
            }
          }
        }

        .actions-container {
          position: relative;
        }

        .more-button {
          background: none;
          border: none;
          color: #6D6D6D;
          font-size: 2rem;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: #fff;
          }
        }

        .dropdown-menu {
          position: absolute;
          z-index: 999999;
          background-color: #8a8888;
          border-radius: 0.3125rem;
          display: flex;
          flex-direction: column;
          padding: 0.9375rem;
          width: 7.5rem;
          height: auto;
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

          .menu-item {
            background-color: #8a8888;
            color: #ffffff;
            border: none;
            padding: 0.625rem;
            font-size: 0.875rem;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;

            i {
              margin-right: 0.5rem;
            }
          }

          .menu-item:first-child {
            border-bottom: 0.0625rem solid rgb(168, 168, 168);
          }
        }
      }
    }
  }

 
}
