*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, *, body, html, p, h1, h2, h3, h4, h5, h6, a {
    font-family: "DM Sans", sans-serif !important;
}

body {
    overflow-x: hidden;
}

body, html {
    width:100%;
    min-height: 100vh;
}

:root {
    --nav-link: #C98E59;
    --nav-link-active: #74471F;
    --footer-primary: #8FB1BF;
    --button-primary: #BF8654;
}


.remove-scrolling {
    height: 100%;
    overflow: hidden;
}
