.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper-assist{
  width: 1400px;
  padding: 50px 0;
}

@media screen and (max-width: 1400px){
  .wrapper-assist{
    width: 100%;
    padding: 50px 20px;
  }
}