.container {
  display: flex;
  min-height: 100vh;
  background-color: #ecf0f1;
  font-family: 'DM Sans', sans-serif;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  background: rgb(53, 58, 61);
  background: linear-gradient(
    180deg,
    rgba(53, 58, 61, 1) 1%,
    rgba(40, 43, 45, 1) 100%
  );

  transition: margin-left 0.3s ease;
}

.headerText {
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: left;
  color: var(--ANTI-FLASH-WHITE, rgba(242, 242, 242, 1));
}

.highlight {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  color: var(--ANTI-FLASH-WHITE, rgba(242, 242, 242, 1));
}
.bellWrapper {
  position: relative;
  display: inline-block;

  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .mainContent {
    margin-left: 0;
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .container {
    display: none;
  }
}
