.newListingWrapper {
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, #839096 -71.67%, #2A2E30 51.78%);
    // background: linear-gradient(180deg, #839096 -90.55%, #2A2E30 63.25%);
    padding-top: 120px;
    padding-bottom: 60px;
    flex-direction: column;

}