@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #F2F2F2;
}

#mainContainer {
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainAssist {
    width: 1400px;
    margin: 50px 0;
}
.contact_section{
    width: 100%;
    display: flex;
    padding: 100px 0;
}
.both-halfs{
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-half > img{
    width: 100%;
}
.first-half > h1{
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #74471F;
    margin-bottom: 30px;
}
.first-half{
    padding-right: 100px;
}
.first-half > form{
    display: flex;
    flex-direction: column;
}
.first-half > form > input{
    margin-bottom: 30px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: #E0E0E0 solid 1px;
    text-indent: 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.first-half > form > input:focus{
    outline: none;
}
.first-half > form > input::placeholder{
    color: #828282;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.first-half > form > label{
    font-family: "DM Sans", sans-serif;
    color: #74471F;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width:1400px) {
    .mainAssist{
        width: 100%;
        padding: 0 20px;
    }
}