.inovation{
 padding-top: 7%;
}


/* =================================Default background color==================================================================== */
.background-image-color {
  background-image: url('/public/inovation/inovation_bg1.png');
  background-size: cover;
  
  width: 1448px;
height: 918px;




}


/*= Large screens image and up= */
@media (min-width: 992px) {
  .background-image-color {
    background-image:  url('/public/inovation/inovation_bg1.png');  }
}


/* ===================================================section 1 header============================================================================ */
.background-image-color h3{
  color: #A66844;
}
.background-image-color p{
  color: #74471F;
}

.background-image-color h3 {
  font-size: 1.2rem; /* Adjust as needed */
  margin: 5%;
  padding: 7%;
}

@media (min-width: 768px) {
  .background-image-color h3 {
    font-size: 1.7rem; 
  }}

@media (min-width: 992px) {
  .background-image-color h3 {
    font-size: 60px;
    font-weight: 377;
    line-height: 55.9px;
    letter-spacing: 0.07em;
    text-align: center;
    word-spacing: 0.07em;
    font-family: 'Montserrat, sans-serif',
  }


  /* Hidden by default */
.h3-responsive .and-technology {
  display: inline;
   
}
  .h3-responsive .and-technology {
    display: block;
    
  }
}

/*=====================================================  paragraph section 1 ================================================================================================================*/
p {
  line-height: normal;
  font-size: 1rem;
  text-align: justify;
}
 
 /* Small screens paragraph section 1 */
@media (max-width: 576px) {
  .background-image-color p{
    line-height: 2.7; /* Adjust line height for larger spacing */
    font-size: calc(0.8rem + 0.5vw); /* Adjust font size to fit content in 9 lines */
   
  }
}

 /* Medium screens */
@media (min-width: 577px) and (max-width: 768px) {
  .background-image-color p {
    line-height: 1.4; /* Adjust line height for normal spacing */
    font-size: calc(1rem + 1vw); /* Adjust font size to fit content in 6 lines */
  }
}

/* Large screens */
@media (min-width: 769px) {
  .background-image-color p {
    line-height: 1.6; /* Normal line spacing */
    font-size: calc(0.7rem + 1vw); /* Adjust font size to fit content in 5 lines */
  }
}
 
