.followUsNavigation {
    background: linear-gradient(180deg, #484b4d 0%, #2A2E30 100%);
    width: 100%;
    padding: 4rem 4rem 10rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .titleContainer {
      text-align: center;
  
      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 3.75rem;
        line-height: 3.50rem;
        color: #F2F2F2;
        letter-spacing: 0.25rem;
        padding-bottom: 1rem;
      }
  
      .navigationDescription {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 1.12rem;
        line-height: 1.69rem;
        color: #F2F2F2;
        padding-bottom: 2rem;
      }
    }
  
    .horizontalLine {
      border: none;
      border-top: 1px solid #C98E59;
      width: 29rem;
      padding-bottom: 2rem;
    }
  
    .iconsContainer {
      display: flex;
      gap: 2rem;
      justify-content: center;
  
      .icon {
        width: 48px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
  